.hero {
  margin: 0;
  padding: 50px;
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  background-color: #f8f8f8;

  &__container {
    display: flex;
    padding: 10px;
    background-position: center;
    background-image: url("hero.png");
    height: 400px;
    width: 100%;
    position: static;
    background-size: auto 140%;
    background-repeat: repeat-x;
  }

  &__title {
    font-family: "Helvetica Neue", sans-serif;
    font-size: xx-large;
    padding: 10px;
    background-color: white;
  }

  &__text {
    @extend %section-spacings;
  }
}
