.top-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;

  a:hover {
    color: #DB52B5;
  }

  .header__primary-navigation {
    position: relative;
    order: 2;
    padding:0px;

    .category-navigation {
      position: relative;

      color: white;
      background-color: black;

      &:hover .categories {
        display: block;
      }
    }

    .categories {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      color: black;
      z-index: 1000;
      border-radius: 5px;
      padding: 0px;
    }

    .categories > li > a {
      display: block;

      text-decoration: none;
      color: black;

      &:hover {
        background-color: #f1f1f1;
        color: pink;
      }
    }
    .categories > li > a:hover {
      background-color: pink;
    }
  }
  @include desktop {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .logo {
    order: 1;

    a {
      display: flex;
    }

    img {
      width: 125px;
    }
  }

  &__search {
    margin-top: 10px;
    order: 3;

    @include desktop {

      margin: 0 2rem;
      order: 3;
    }
    input[type="search"] {
      border-radius: 5px;
    }
  }

  .auth-link {
    order: 4;
    color: white;
  }

  .cart-link {
    order: 5;
    color: white;
  }
}
